@model List<Ingredient>

<h2>Доступные ингредиенты</h2>
@* testing purposes*@
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.OrderBy(ing => ing.Name))
        {
            <tr>
                <td>@ingredient.Id</td>
                <td>@ingredient.Name</td>
                <td>@ingredient.Unit</td>
            </tr>
        }
    </tbody>
</table>
