@model RecipesApp.Models.Recipe

@{
	ViewData["Title"] = "Create New Recipe";
}

<h1>@ViewData["Title"]</h1>

<hr/>
<div class="row">
	<div class="col-md-6">
		<form asp-action="Create">

			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control"></input>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Time" class="control-label"></label>
				<input asp-for="Time" class="form-control"></input>
			</div>

			<div class="form-group mb-3">
				<label asp-for="ImageUrl" class="control-label"></label>
				<input asp-for="ImageUrl" class="form-control"></input>
			</div>

			<div class="form-group mt-4">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-secondary">Home page</a>
			</div>
		</form>
	</div>
</div>
