@model IEnumerable<Recipe>

<h1>Favorite Recipes</h1>

@if (!Model.Any())
{
    <p>No favorite recipes yet!</p>
}
else
{
    <div class="row">
        @foreach (var recipe in Model)
        {
            @await Html.PartialAsync("_RecipeCard", recipe)
        }
    </div>
}